{% extends 'pokemons/base.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto max-w-4xl my-16">
        <h1 class="text-3xl font-semibold text-gray-700 my-5">Dashboard</h1>
        {% if user_pokemons %}
        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg heightList">
                    <table class="min-w-full divide-y divide-gray-200 sortable">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-widest select-none">
                            Name
                            </th>
                            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-widest select-none">
                            Types
                            </th>
                            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-widest select-none">
                                Height
                            </th>
                            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-widest select-none">
                                Weight
                            </th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Delete</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200" id="dashboard">
                            {% include 'pokemons/dashboard_table.html' %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="{% static 'js/sorttable.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
    function deletePokemon(poke_id){
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                url: "{% url 'updatePokemon' %}",
                data:{
                pokemon_id: poke_id,
                user_id: '{{request.user.id}}',
                },
            }).done(function(data){
                window.location.reload();
                $('#dashboard').html(data);
            });
        })
	}
    </script>
{% endblock %}