{% extends 'pokemons/base.html' %}
<head>
    {% block links %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Pokemon - {{pokemon.name}}</title>
    <style>
        .swiper-container {
            width: 400px;
        }
        .swiper-button-next, .swiper-button-prev{
            color:white;
        }
    </style>
    {% endblock %}
</head>
    <body>
        {% block content %}
        <main class="h-screen bg-gray-200 bg-poke-{{pokemon.types.first}}-light">
            <div class="md:flex justify-around bg-poke-{{pokemon.types.first}} py-16 text-white">
                <div class="max-h-full flex items-center">
                    <div class="text-center mx-auto">
                        <h1 class="text-5xl font-extrabold capitalize md:text-7xl">{{ pokemon.name }}</h1>
                        <div class="flex justify-around pt-5 text-center w-56 mx-auto">
                            <h5 class="bg-white rounded-full text-poke-{{pokemon.types.first}} font-bold py-2 px-5">{{pokemon.types.first}}</h5>
                            {% if pokemon.types.count > 1 %}
                            <h5 class="bg-white rounded-full text-poke-{{pokemon.types.first}} font-bold py-2 px-5">{{pokemon.types.last}}</h5>
                            {% endif %}
                        </div>
                        <div class="flex justify-around pt-5 text-center w-56 mx-auto">
                            <div>
                                <h2 class="text-3xl">{{pokemon.height}}</h2>
                                <h4 class="font-bold">Height</h4>
                            </div>
                            <div>
                                <h2 class="text-3xl">{{pokemon.weight}}</h2>
                                <h4 class="font-bold">Weight</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide justify-center flex content-center">
                            <div>
                                <img src="{{pokemon.default_front_sprite_url}}" width="200px">
                                <h6 class="text-center uppercase font-semibold">front</h6>
                            </div>
                          </div>
                          <div class="swiper-slide justify-center flex content-center">
                            <div>
                                <img src="{{pokemon.default_back_sprite_url}}" width="200px">
                                <h6 class="text-center uppercase font-semibold">back</h6>
                            </div>
                          </div>
                          <div class="swiper-slide justify-center flex content-center">
                            <div>
                                <img src="{{pokemon.front_shiny_sprite_url}}" width="200px">
                                <h6 class="text-center uppercase font-semibold">shiny</h6>
                            </div>
                          </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="container mx-auto my-16">
                <table class="table mx-auto w-80">
                    <thead>
                        <tr>
                            <th class="text-poke-{{pokemon.types.first}}">Statistics</th>
                            <th class="text-poke-{{pokemon.types.first}}">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                        <tr>
                            <td class="border-poke-{{pokemon.types.first}} border px-5 py-2 text-poke-{{pokemon.types.first}} font-bold">{{stat.stat}}</td>
                            <td class="border-poke-{{pokemon.types.first}} border px-5 py-2 text-poke-{{pokemon.types.first}} font-bold">{{stat.value}}</td>
                        </tr>       
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
              slidesPerView: 1,
              spaceBetween: 30,
              loop: true,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });
          </script>
        {% endblock %}
    </body>
</html>