{% extends 'pokemons/base.html' %}
<head>
    {% block links %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" type="text/css"/>
    <title>Pokemon - {{pokemon.name}}</title>
    <style>
        .swiper {
            width: 400px;
        }
        .swiper-button-next, .swiper-button-prev{
            color:white;
        }
    </style>
    {% endblock %}
</head>
    <body>
        {% block content %}
        <main class="bg-gray-200 bg-poke-{{pokemon.type.first}}-light max-w-full">
            <div class="max-w-xl mx-auto" id="snackbar">
                <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500" id="success">
                    <span class="inline-block align-middle mr-8 w-56" id="successMessage">
                        Pokemon has been successfully added to your pokedex !
                    </span>
                    <button id="close-btn" class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
                        <span>×</span>
                    </button>
                </div>
            </div>
            <div class="bg-poke-{{pokemon.type.first}} text-white">
                {% if request.user.username  %}
                <button type="button" class="float-right mx-5 my-2 rounded-full px-4 py-2  bg-white text-poke-{{pokemon.type.first}} 
                font-bold hover:bg-poke-{{pokemon.type.first}}-light focus:outline-none" onclick="addPokemon('{{pokemon.id}}')">Add to my pokedex</button>
                {% endif %}
                <div class="py-16">
                    <div class="max-h-full flex items-center">
                        <div class="text-center mx-auto">
                            <h1 class="text-5xl font-extrabold capitalize md:text-7xl">{{ pokemon.name }}</h1>
                            <div class="flex justify-around pt-5 text-center w-56 mx-auto">
                                <h5 class="bg-white rounded-full text-poke-{{pokemon.type.first}} font-bold py-2 px-5">{{pokemon.type.first}}</h5>
                                {% if pokemon.type.count > 1 %}
                                <h5 class="bg-white rounded-full text-poke-{{pokemon.type.first}} font-bold py-2 px-5">{{pokemon.type.last}}</h5>
                                {% endif %}
                            </div>
                            <div class="flex justify-around pt-5 text-center w-56 mx-auto">
                                <div>
                                    <h2 class="text-3xl">{{pokemon.height}}</h2>
                                    <h4 class="font-bold">Height</h4>
                                </div>
                                <div>
                                    <h2 class="text-3xl">{{pokemon.weight}}</h2>
                                    <h4 class="font-bold">Weight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide justify-center flex content-center">
                                <div>
                                    <img class="mx-auto" src="{{pokemon.default_front_sprite_url}}" width="200px">
                                    <h6 class="text-center uppercase font-semibold">front</h6>
                                </div>
                              </div>
                              <div class="swiper-slide justify-center flex content-center">
                                <div>
                                    <img class="mx-auto" src="{{pokemon.default_back_sprite_url}}" width="200px">
                                    <h6 class="text-center uppercase font-semibold">back</h6>
                                </div>
                              </div>
                              <div class="swiper-slide justify-center flex content-center">
                                <div>
                                    <img class="mx-auto" src="{{pokemon.front_shiny_sprite_url}}" width="200px">
                                    <h6 class="text-center uppercase font-semibold">shiny</h6>
                                </div>
                              </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next focus:outline-none"></div>
                            <div class="swiper-button-prev focus:outline-none"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mx-auto pt-36">
                <table class="table mx-auto ">
                    <thead>
                        <tr>
                            <th class="text-poke-{{pokemon.type.first}}">Statistics</th>
                            <th class="text-poke-{{pokemon.type.first}}">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                        <tr>
                            <td class="border-poke-{{pokemon.type.first}} border px-5 py-2 text-poke-{{pokemon.type.first}} font-bold">{{stat.stat}}</td>
                            <td class="border-poke-{{pokemon.type.first}} border px-5 py-2 text-poke-{{pokemon.type.first}} font-bold">{{stat.value}}</td>
                        </tr>       
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container mx-auto py-36">
                {% if pokemonBase or pokemonEvolution1 or pokemonEvolution2 %}
                    <h1 class="uppercase tracking-widest text-3xl text-poke-{{pokemon.type.first}} font-semibold text-center">Evolutions</h1>
                    {% if pokemonBase %}
                    <a href="{% url 'details' pokemonBase.0.2 %}">
                        <h1 class="uppercase tracking-widest text-xl text-gray-500 mt-5 font-semibold text-center">Base pokemon</h1>
                        <img class="mx-auto" src="{{pokemonBase.0.1}}" width="200px">
                        <h1 class="text-xl my-5 font-semibold text-center">{{pokemonBase.0.0}}</h1> 
                    </a>
                    {% endif %}
                    {% if pokemonEvolution1 %}
                        <h1 class="uppercase tracking-widest text-xl text-gray-500 mt-5 font-semibold text-center">Pokemon Gen I</h1>
                        <div class="flex justify-center">
                        {% for evolution1 in pokemonEvolution1 %}
                            <div>
                                <a href="{% url 'details' evolution1.2 %}">
                                    <img class="mx-auto" src="{{evolution1.1}}" width="200px">
                                    <h1 class="text-xl my-5 font-semibold text-center">{{evolution1.0}}</h1> 
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% if pokemonEvolution2 %}
                        <h1 class="uppercase tracking-widest text-xl text-gray-500 mt-5 font-semibold text-center">Pokemon Gen II</h1>
                        <div class="flex justify-center">
                        {% for evolution2 in pokemonEvolution2 %}
                            <div>
                                <a href="{% url 'details' evolution2.2 %}">
                                    <img class="mx-auto" src="{{evolution2.1}}" width="200px">
                                    <h1 class="text-xl my-5 font-semibold text-center">{{evolution2.0}}</h1> 
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>


        </main>
        <script src="https://unpkg.com/swiper/swiper-bundle.js" type="text/javascript"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js" type="text/javascript"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
              slidesPerView: 1,
              spaceBetween: 30,
              loop: true,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            function addPokemon(poke_id){
                $.ajax({
                    url: "{% url 'addPokemon' %}",
                    data:{
                        pokemon_id: poke_id,
                        user_id: '{{request.user.id}}',
                    },
                    success: function(data){
                        if (data.exists == true){
                            $("#success").removeClass("bg-green-500").addClass("bg-red-500");
                            document.getElementById("successMessage").innerHTML = "This pokemon has already been added to your pokedex !";
                        }else{
                            $("#success").removeClass("bg-red-500").addClass("bg-green-500");
                            document.getElementById("successMessage").innerHTML = "Pokemon has been successfully added to your pokedex !";				
                        }
                        // Get the snackbar DIV
                        var x = document.getElementById("snackbar");
                        // Add the "show" class to DIV
                        x.className = "show";
                        // After 3 seconds, remove the show class from DIV
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                });
            }
            $("#close-btn").click(function() {
                    $(this).parent().fadeOut(500);
            })
        </script>
        {% endblock %}
    </body>
</html>